<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>MegaRadio</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.25</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.246210957471-18662dh38h9tmlk7nppdk15ucbha4emk</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>25</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-8771434485570434~4044224468</string>
    <key>GADDelayAppMeasurementInit</key>
    <false/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSAllowsArbitraryLoadsForMedia</key>
      <true/>
      <key>NSAllowsArbitraryLoadsInWebContent</key>
      <false/>
    </dict>
    <key>NSBonjourServices</key>
    <array>
      <string>_airplay._tcp</string>
      <string>_raop._tcp</string>
      <string>_googlecast._tcp</string>
      <string>_94952E1F._googlecast._tcp</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>Camera access is required to take a profile picture.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>MegaRadio uses the local network to discover Cast-enabled devices on your WiFi.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>MegaRadio uses your location to find nearby radio stations.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your location</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>MegaRadio uses your location to find nearby radio stations.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Ses kaydı yapabilmek için mikrofon erişimi gereklidir.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Photo library access is required to upload a profile picture.</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>RCTNewArchEnabled</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>remote-notification</string>
      <string>external-accessory</string>
    </array>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <true/>
      <key>UISceneConfigurations</key>
      <dict>
        <key>UIWindowSceneSessionRoleApplication</key>
        <array>
          <dict>
            <key>UISceneConfigurationName</key>
            <string>Default Configuration</string>
            <key>UISceneDelegateClassName</key>
            <string>$(PRODUCT_MODULE_NAME).PhoneSceneDelegate</string>
          </dict>
        </array>
        <key>CPTemplateApplicationSceneSessionRoleApplication</key>
        <array>
          <dict>
            <key>UISceneConfigurationName</key>
            <string>CarPlay</string>
            <key>UISceneDelegateClassName</key>
            <string>$(PRODUCT_MODULE_NAME).CarPlaySceneDelegate</string>
          </dict>
        </array>
      </dict>
    </dict>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedExternalAccessoryProtocols</key>
    <array/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>